@page
@using WebRazorPagesApp.Pages;
<!--Uygulama içerisine bir sürü yere using yazmak yerine viewimports dosyası üzerinden direk olarak namespace tanımı yaparak uygulamadaki modellerin html viewler tarafından görünmesini sağlarız. -->
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


